<div class="bg-primary text-textcolor py-4">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 ">
    <!-- Get In Touch Section -->
    <div class="bg-secondary p-4 rounded-lg hover:shadow-lg  hover:shadow-[0_2px_4px] ">
      <h3 class="text-center text-text-small font-bold  text-bg mb-6 uppercase flex items-center justify-center">
        <i class="fas fa-envelope text-text-xmd mr-2 text-bg"></i> Get In Touch
      </h3>

      <div class="space-y-2 text-bg text-text-small">
        <!-- Address Section -->
        <p class="flex items-baseline">
          <i class="fas fa-map-marker-alt  text-bg mr-3"></i>
          <span class="">{{ address.path }}</span>
        </p>

        <!-- Phone Section -->
        <p class="flex items-baseline">
          <i class="fas fa-phone-alt  text-bg mr-3"></i>
          <span>{{ address.mobile }}</span>
        </p>
        <!-- email Section -->
        <p class="flex items-baseline">
          <!-- <i class="fas fa-phone-alt"></i> -->
          <i class="fa-solid fa-envelope   text-bg mr-3"></i>
          <span class="">{{ address.email }}</span>
        </p>
        <p class="flex items-baseline">

          <i class="fa-solid fa-hourglass-half  text-bg mr-3"></i>
          <span class="">{{ address.maxOfficeHours }}</span>
        </p>
        <p class="flex items-baseline">

          <i class="fa-solid fa-hourglass-half  text-bg mr-3"></i>
          <span class="">{{ address.officehours }}</span>
        </p>
       <!-- Appointment Link -->
       <p class="flex items-center">
        <i class="fas fa-calendar-check text-lg text-bg mr-3"></i>
        <span>
          Appointment:
          <a [href]="bookAppointment" class="text-tealcolor hover:underline" target="_blank" rel="noopener noreferrer">
            Click Here
          </a>

        </span>
      </p>
      </div>
    </div>
    <!-- Contact Form -->

    <div class=" p-4 rounded-lg hover:shadow-md  hover:shadow-[0_2px_4px] ">
      <h3 class="text-center text-text-small font-bold  text-bg mb-6 uppercase flex items-center justify-center">
        <i class="fas fa-envelope text-text-xmd text-bg mr-2"></i> Contact Us
      </h3>

      <form class="grid grid-cols-1 gap-3  text-text-small text-bg">
        <!-- Name Input -->
        <div class="relative bg-primary  shadow-[0_1px_0px] ">
          <i class="fas fa-user absolute left-4 top-2 text-bg"></i>
          <input type="text" placeholder="Your Name"
            class="pl-12 p-1 w-full  outline-none bg-primary border-none text-bg" />
        </div>

        <!-- Email Input -->
        <div class="relative bg-primary rounded-md shadow-[0_1px_0px]">
          <i class="fas fa-envelope absolute left-4 top-2 text-bg"></i>
          <input type="email" placeholder="Your Email"
          class="pl-12 p-1 w-full  outline-none bg-primary border-none text-bg " />
        </div>

        <!-- Phone Input -->
        <div class="relative bg-primary rounded-md shadow-[0_1px_0px]">
          <i class="fas fa-phone absolute left-4 top-2 text-bg"></i>
          <input type="text" placeholder="Your Phone"
          class="pl-12 p-1 w-full  outline-none bg-primary border-none text-bg " />
        </div>

        <!-- Message Input -->
        <div class="relative bg-primary  shadow-[0_1px_0px]">
          <i class="fas fa-comment-alt absolute left-4 top-2 text-bg"></i>
          <textarea placeholder="Your Message"
          class="pl-12 p-1 w-full  outline-none bg-primary border-none text-bg"></textarea>
        </div>

        <!-- Submit Button -->
        <button type="submit"
          class="text-bg py-2 rounded-md hover:shadow-[0_2px_2px] px-6 flex items-center justify-center ">
          <i class="fas fa-paper-plane mr-2"></i> Submit
        </button>
      </form>
    </div>
    
  </div>

  <!-- Footer -->
  <div class="text-center  text-sm text-bg  pt-4 bg-secondary">
    <p>
      © 2025 <span class=" text-tealcolor">Rohit Raj Dhan</span> | Powered by
      <span class=" text-tealcolor">Rohit Raj Dhan</span>
    </p>
  </div>

</div>


<!-- Map Section -->
<!--
 <div class="bg-white shadow-md rounded-md overflow-hidden">
  <h3 class="text-center text-lg font-bold text-primary text-400 py-4 uppercase">Find Us</h3>
  
  <google-map height="400px" width="100%" [center]="center" [zoom]="zoom"></google-map>

   <iframe
    class="w-full h-96"
    frameborder="0"
    style="border:0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3683.779607926507!2d88.38729441496726!3d22.572646985179654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0277bd27c20f8f%3A0xf9a5b6f52663fef!2sKolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1633605567427!5m2!1sen!2sin"
  ></iframe> 
</div>

-->