.carousel-container {
  position: relative;
  height: 400px;

  .slides {
    display: flex;
    transition: transform 0.7s ease-in-out;
  }

  .slide {
    min-width: 100%;
    position: relative;
  }

  .text-overlay {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    text-align: center;
    transition: opacity 0.7s;
  }

  .hidden {
    opacity: 0;
  }

  .nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;

    &:hover {
      background-color: var(--primary-color);
    }
  }
}

// Contact Us Button Styles
.button-primary {
  background-color: transparent;
  color: var(--primary-color); /* Use primary color for text and border */
  border: 2px solid var(--primary-color); /* Add border */
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */

  &:hover {
    background-color: var(--primary-color); /* Set background on hover */
    color: white; /* Change text color */
  }
}
