<div class="min-h-screen bg-gray-100 flex items-center justify-center">
    <div class="container mx-auto p-4">
      <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-4">
        <div *ngFor="let image of images" class="bg-primary relative rounded-lg overflow-hidden shadow-lg">
          <img [src]="image" [alt]="image" class="w-full h-[400px] object-cover  hover:scale-105 transition-transform duration-300" />
          
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="min-h-screen bg-gray-100 flex items-center justify-center">
    <div class="container mx-auto p-4">
      <div class="flex">
        <div *ngFor="let image of images" class="bg-primary relative rounded-lg overflow-hidden shadow-lg">
          <img [src]="image.src" [alt]="image.alt" class="w-full h-[500px] object-cover  hover:scale-105 transition-transform duration-300" />
          
        </div>
      </div>
    </div>
  </div> -->
