<div class="carousel-container relative w-full overflow-hidden">
  <!-- Slides -->
  <div
    class="slides flex transition-transform duration-700 ease-in-out"
    [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
  >
    <div
      *ngFor="let image of images; let i = index"
      class="slide min-w-full relative flex items-center justify-center"
    >
      <!-- Image -->
      <img [src]="image.src" alt="Carousel Image" class="w-full h-[500px] object-cover" />

      <!-- Text Overlay -->
      <div
        class="text-overlay absolute inset-0 flex flex-col items-center justify-center text-secondary "
        [class.hidden]="i !== currentIndex"
      >
        <p class="text-lg text-primary mb-2 font-bold">{{ image.text }}</p>
        <h2 class="text-2xl text-primary font-bold mb-4">{{ image.name }}</h2>
        <button class="contactus">
          Contact Us
        </button>
        
      </div>
    </div>
  </div>

  <!-- Navigation Buttons -->
  <button class="nav-btn  p-2 border-4 shadow-lg rounded-full  left-4" (click)="previous()">
    <i class='fas fa-angle-left'></i>
  </button>
  <button class="nav-btn  p-2 border-4 shadow-lg rounded-full  right-4" (click)="next()">
    <i class='fas fa-angle-right'></i>
  </button>
</div>
