<div class="">
    <!-- <app-base-image [title]="'About Us'"></app-base-image> -->
    <app-about></app-about>
  
    <!-- Work Experience -->
    <!-- <div class="mt-20">
      <h3 class="text-xl font-bold mb-6">Work Experience</h3>
      <div class="space-y-8">
        <div class="flex items-center space-x-6">
          <img src="assets/hospital1.jpg" alt="Hospital 1" class="w-40 h-40 rounded-lg">
          <div>
            <h4 class="font-bold">Medica Superspeciality Hospital, Kolkata</h4>
            <p class="text-gray-500">November 2018 - Present</p>
          </div>
        </div>
      </div>
    </div> -->
  
    <!-- Memberships & Certifications -->
    <div class="mt-20 mb-10">
        <app-heading [icon]="'fa-hospital'" [title]="'Memberships & Certifications'"></app-heading>          
      
        <div class=" flex flex-wrap gap-6 justify-center">
          <div *ngFor="let certificate of membersAndCertifications" class="w-60 h-60 rounded-lg overflow-hidden shadow-lg border bg-white">
            <img [src]="certificate" class="w-full h-full object-contain">
          </div>
        </div>
      </div>
      
   
      
  
    <!-- Awards & Recognitions -->
    <div class="mt-20">
        <app-heading [icon]="'fa-hospital'" [title]="'Awards & Recognitions'"></app-heading> 
      <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
        <div class="p-4 border rounded-lg shadow-md text-center" *ngFor="let award of awards">
          <img [src]="award.image" class="w-40 h-auto mx-auto">
          <p class="mt-2">{{award.title}}</p>
        </div>
      </div>
    </div>
  </div>
  