<div class="container mx-auto p-6">
    <!-- Header Section -->
    <h1 class="text-4xl font-bold text-center text-primary mb-6">Patient Information</h1>

    <!-- New Patients Section -->
    <div class="bg-white shadow-lg rounded-lg p-6 mb-6">
        <h2 class="text-3xl font-semibold text-primary mb-4">New Patients</h2>
        <ul class="list-inside pl-4">
            <li class="mb-2 text-lg text-text">What to expect at your first visit</li>
            <li class="mb-2 text-lg text-text">Required Lab Tests</li>
        </ul>
    </div>

    <!-- Patient Education Section -->
    <div class="bg-white shadow-lg rounded-lg p-6">
        <h2 class="text-3xl font-semibold text-primary mb-4">Patient Education</h2>
        <ul class="list-inside pl-4">
            <li class="mb-2 text-lg text-text">Kidney disease prevention tips</li>
            <li class="mb-2 text-lg text-text">Understanding dialysis</li>
            <li class="mb-2 text-lg text-text">Managing high blood pressure</li>
        </ul>
    </div>

    <h1 class="text-4xl font-bold text-center text-primary mb-6 mt-4">FAQs</h1>
    <div class="bg-white shadow-lg rounded-lg p-6">
        <!-- <h2 class="text-3xl font-semibold text-primary mb-4">Patient Education</h2> -->
        <h3>Common questions about kidney health, treatments, and lifestyle recommendations.</h3>
    </div>
    
    <!-- Patient Education Section -->
    <div class="bg-white shadow-lg rounded-lg p-6">
        <h2 class="text-3xl font-semibold text-primary mb-4">Why Choose Us?</h2>
        <ul class="list-inside pl-4">
            <li class="mb-2 text-lg text-text">Expert team of board-certified nephrologists</li>
            <li class="mb-2 text-lg text-text">Comprehensive and personalized treatment plans</li>
            <li class="mb-2 text-lg text-text">State-of-the-art diagnostic and treatment facilities</li>
            <li class="mb-2 text-lg text-text">Compassionate and patient-focused care</li>
            <li  class="mb-2 text-lg text-text">Strong collaboration with primary care physicians and specialists</li>
        </ul>
    </div>