<!-- nav.component.html -->

<nav class="flex justify-between items-center px-6 py-4 bg-secondary shadow-md fixed w-full top-0 z-50">
  <!-- Logo -->
  <div class="logo">
    <!-- <img  class="h-16" /> -->
  </div>

  <!-- Desktop Navigation -->
  <ul class="hidden md:flex gap-6 items-center">
    <li>
      <button class="nav-button" (click)="navigate('home')"
      [appCustomRouterLinkActive]="'home'"
      [activeClass]="['nav-button-active']"
      >
        <i class="fas fa-home"></i> <span>Home</span>
      </button>
    </li>
    <li>
      <button class="nav-button" (click)="navigate('about')"
      [appCustomRouterLinkActive]="'about'"
      [activeClass]="['nav-button-active']"
      >
        <i class="fas fa-user-md"></i> <span>About</span>
      </button>
    </li>
    <li class="relative group">
      <button class="nav-button flex items-center gap-1" [matMenuTriggerFor]="serviceMenu"
      [appCustomRouterLinkActive]="'service'"
      [activeClass]="['nav-button-active']"
      >
        <i class="fas fa-stethoscope"></i> <span>Services <i class="fas fa-chevron-down"></i></span>
      </button>
      <mat-menu #serviceMenu="matMenu">
        <button mat-menu-item  [appCustomRouterLinkActive]="consult.routerLink"
        [activeClass]="['text']" class="dropdown-item" *ngFor="let consult of consultationList" 
          (click)="navigateToService(consult.routerLink)">
          {{ consult.name }}
        </button>
      </mat-menu>
    </li>
    <li>
      <button class="nav-button" (click)="navigate('patient')"
      [appCustomRouterLinkActive]="'contact'"
      [activeClass]="['nav-button-active']"
      >
      <i class="fa-solid fa-hospital-user"></i> <span>Patient Info</span>
      </button>
    </li>
    <li>
      <button class="nav-button" (click)="navigate('gallery')"
      [appCustomRouterLinkActive]="'gallery'"
      [activeClass]="['nav-button-active']"
      >
      <i class="fa-solid fa-hospital-user"></i> <span>Gallery</span>
      </button>
    </li>
    <li>
      <button class="nav-button" (click)="navigate('contact')"
      [appCustomRouterLinkActive]="'contact'"
      [activeClass]="['nav-button-active']"
      >
        <i class="fas fa-phone-alt"></i> <span>Contact Us</span>
      </button>
    </li>
  </ul>

  <!-- Mobile Menu Button -->
  <button class="md:hidden text-primary focus:outline-none" (click)="toggleMobileMenu()">
    <i class="fas fa-bars text-2xl"></i>
  </button>

  <!-- Mobile Menu -->
  <div *ngIf="isMobileMenuOpen" class="absolute top-full left-0 w-full bg-white shadow-md flex flex-col items-center py-4 space-y-3 md:hidden">
    <button class="nav-button w-full" (click)="navigate('home')">Home</button>
    <button class="nav-button w-full" (click)="navigate('about')">About</button>
    <button class="nav-button w-full" [matMenuTriggerFor]="serviceMenu">Services</button>
    <button class="nav-button w-full" (click)="navigate('contact')">Contact Us</button>
  </div>
</nav>
