/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    // --primary-color: #103a65;
    --primary-color: #00807f;
    --header-color: #35b6b4;
    --bg-color: #ffffff;
    --teal-color:#00f3f0;
    --text-color:#000000;

  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  .custom-icon-color {
    color: var(--secondary-color);  
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
