
   <div class="about flex flex-col md:flex-row gap-8 items-center p-4">
    <!-- Doctor's Image -->
    <img 
      src="https://max-website20-images.s3.ap-south-1.amazonaws.com/medium_dr_santosh_kumar_d6d437be42.jpg" 
      class="doctor-img"
      alt="Dr. Santosh Kumar"
    />
  
    <!-- Doctor's Info -->
    <div class="text-center md:text-left">
      <h3 class="text-2xl font-bold text-primary mb-4">{{aboutDoctor.name}}</h3>
      <div class="mb-2 text-secondary text-sm" *ngFor="let desc of aboutDoctor.description">
        <h2>{{desc}}</h2>
      </div>
  
      <!-- Experience Stats -->
      <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-6 mt-6">
        <div class="text-center" *ngFor="let data of aboutDoctor.data">
          <p class="text-primary text-2xl font-bold" >{{data.title}}</p>
          <p class="text-color text-sm">{{data.text}}</p>
        </div>
      </div>
    </div>

  </div>
  

 