<app-carousel></app-carousel>
<app-about></app-about>
<app-services></app-services>
<app-reviews></app-reviews>


<!-- <div class="fixed right-4 bottom-20 flex flex-col gap-2">
    <a href="#" class="social-icon bg-green-500"><i class="fab fa-whatsapp"></i></a>
    <a href="#" class="social-icon bg-black"><i class="fas fa-envelope"></i></a>
    <a href="#" class="social-icon bg-blue-500"><i class="fab fa-facebook"></i></a>
    <a href="#" class="social-icon bg-blue-700"><i class="fab fa-linkedin"></i></a>
    <a href="#" class="social-icon bg-red-500"><i class="fab fa-youtube"></i></a>
  </div>
   -->