<app-carousel></app-carousel>
<app-about></app-about>
<app-services></app-services>
  <div class="container mt-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 mb-2">
    <div class="bg-bg p-2 rounded-lg shadow-md border shadow-[0_3px_10px] shadow-secondary">
      
      <app-list [details]="consultationList"></app-list>
    </div>
    <!-- Get In Touch Section -->
    <div class="bg-white p-2 rounded-lg shadow-md border shadow-[0_3px_10px] shadow-secondary">
      <app-list [details]="workExperienceList"></app-list>
    </div>
  </div>

<app-reviews></app-reviews>


<!-- <div class="fixed right-4 bottom-20 flex flex-col gap-2">
    <a href="#" class="social-icon bg-green-500"><i class="fab fa-whatsapp"></i></a>
    <a href="#" class="social-icon bg-black"><i class="fas fa-envelope"></i></a>
    <a href="#" class="social-icon bg-blue-500"><i class="fab fa-facebook"></i></a>
    <a href="#" class="social-icon bg-blue-700"><i class="fab fa-linkedin"></i></a>
    <a href="#" class="social-icon bg-red-500"><i class="fab fa-youtube"></i></a>
  </div>
   -->